doctype html
html(lang="en")
  head
    title=title
    link(href='/css/styles.css', rel='stylesheet')
  body.login
    form#login(action="login" method="post" enctype="application/json")
      header
        img(src="/img/user.png")

      section#main
        input(type="text" name="username" placeholder="email")
        input(type="password" name="password" placeholder="password")

      footer
        button(type="submit")

    script(src="js/jquery.js")
    script(src="js/underscore.js")
